body{
    background-color: black;
    overflow-x: hidden;
}
.logo {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    z-index: 100 ;
    /*width: 100%;*/
    height: 100vh;

}

.header{
    display: flex;
    width: 100%;
    align-items: center;
    height: 110vh;
}